@(users: List[User])

@main("Users", "users"){
	<div class='container'>
	<h1> User page </h1>
	
	<table class='table'>
		<thead> <tr> <th> Email </th> <th> Username </th> <th> Created </th> <th> Updated </th> <th> Action </th>  </tr>  </thead>
		<tbody>
		@for(user <- users){
			<tr> <td> @user.email </td> <td> @user.username </td> <td> @user.createdAt </td> <td> @user.updatedAt </td> 
				<td> <a href='@routes.UserController.delete(user.username)' onclick="return confirm('Are you sure you want to delete this user?');"
					class="btn btn-danger">Delete</a>
			</tr>
		}
		</tbody>
	</table>
	</div>
	
}
